[ source $BRAINVISA_BUILD/src ]
  brainvisa opensource %(bv_maker_branch)s
  brainvisa brainvisa-installer %(bv_maker_branch)s

[ build $BRAINVISA_BUILD/build ]
  make_options = -j4 -k
  build_type = Release
  packaging_thirdparty = ON
  brainvisa opensource %(bv_maker_branch)s $BRAINVISA_BUILD/src
  brainvisa brainvisa-installer %(bv_maker_branch)s $BRAINVISA_BUILD/src
  - morphologist-ui
