[Desktop Entry]
Version=1.0
Type=Application
Name=Keyboard Layout
Exec=xdg-open file:///home/brainvisa/change_keyboard_layout/index.html
Icon=/usr/share/icons/Humanity/devices/24/input-keyboard.svg
