[Desktop Entry]
Type=Link
Name=Keyboard Layout
URL=file:///home/brainvisa/change_keyboard_layout/index.html
Icon=/usr/share/icons/gnome/48x48/devices/keyboard.png
